body {
  background-image: url("images/background.svg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-title {
  font-size: 2rem;
  font-weight: bold;
}
.profile-pic {
  max-height: 200px;
  max-width: 200px;
  border: 1px solid #fff;
}
@media screen and (max-width: 768px) {
  body {
    background-image: url("images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
