body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: smooth;
}
.center {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.p-title {
  font-size: 2rem;
  font-weight: bold;
}
.profile-pic {
  max-height: 200px;
  max-width: 200px;
  border: 1px solid #fff;
}
.bi {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
