@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

#home {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#home::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url("images/background.svg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
}
nav {
  position: relative;
  display: flex;
  height: 80px;
  width: 100%;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  flex-wrap: wrap;
  z-index: 10;
}
nav .logo {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  border-bottom: 2px solid #fff;
  border-radius: 0px;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1cccpx) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgba(145, 131, 201, 0.75);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.5s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a:hover {
    border-bottom: 2px solid #fff;
    border-radius: 0px;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.intro {
  width: 99%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
.content h1 {
  font-size: 2rem;
  font-weight: 600;
  width: fit-content;
  text-align: left;
}
.content h2 {
  width: fit-content;
  font-size: 1.5rem;
}

.role span.typed-text {
  font-weight: 500;
}
.role span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  height: 1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.role span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
